<div class="tabs">

    <div class="header">
        <label for="request" (click)="changeState(1)" [ngClass]="{'active' : active == 1 }">Request Charter</label>
        <label for="request" (click)="changeState(2)" [ngClass]="{'active' : active == 2 }">Book Seats</label>
    </div>

    <div class="body">
        <div class="charter" [ngClass]="{'active' : active == 1 }">

            <div [formGroup]="formRequest" class="form-charter">

                <div class="control" [ngClass]="{'active':formRequest.get('name').value == '' && validate}">
                    <input type="text" formControlName="name" placeholder="Name">
                </div>
                <div class="control" [ngClass]="{'active':formRequest.get('lastname').value == '' && validate}">
                    <input type="text" formControlName="lastname" placeholder="Last Name">
                </div>
                <div class="control" [ngClass]="{'active':formRequest.get('email').value == '' && validate}">
                    <input type="text" formControlName="email" placeholder="Email">
                </div>
                <div class="control" [ngClass]="{'active':formRequest.get('phone').value == '' && validate}">
                    <input type="text" formControlName="phone" placeholder="Phone number">
                </div>
                <div class="control">
                    <img src="/assets/images/landing/from.png" alt="">
                    <select *ngIf="places.length > 0" formControlName="origin">
                        <option *ngFor="let place of places" [value]="place.id">{{place.name}} | {{place.short_name}}</option>
                        <option value="0">Other</option>
                    </select>
                </div>
                <div class="control" *ngIf="formRequest.get('origin').value == 0"
                    [ngClass]="{'active':formRequest.get('customOrigin').value == '' && validate}">
                    <img src="/assets/images/landing/from.png" alt="">
                    <input type="text" formControlName="customOrigin" placeholder="Custom Origin">
                </div>

                <div class="control">
                    <img src="/assets/images/landing/to.png" alt="">
                    <select *ngIf="places.length > 0" formControlName="destination">
                        <option *ngFor="let place of places" [value]="place.id">{{place.name}} | {{place.short_name}}</option>
                        <option value="0">Other</option>
                    </select>
                </div>
                <div class="control" *ngIf="formRequest.get('destination').value == 0"
                    [ngClass]="{'active':formRequest.get('customDestination').value == '' && validate}">
                    <img src="/assets/images/landing/to.png" alt="">
                    <input type="text" formControlName="customDestination" placeholder="Custom Destination">
                </div>
                <div class="control">
                    <img src="/assets/images/landing/calendar.png" alt="">
                    <input type="date" formControlName="dateRequest" placeholder="Name">
                </div>

                <div class="control">
                    <img src="/assets/images/landing/clock.png" alt="">
                    <input type="time" formControlName="timeRequest">
                </div>

                <div class="control">
                    <img src="/assets/images/landing/passenger.png" alt="">
                    <input type="number" formControlName="passengers" min="1">
                </div>

            </div>
            <div class="error" *ngIf="validate">Check all the fields please</div>

            <button type="submit" (click)="request()">Request Charter</button>

        </div>
        <div class="book" [ngClass]="{'active' : active == 2 }">
            <div [formGroup]="formSeats" class="form-charter">


                <div class="control">
                    <img src="/assets/images/landing/from.png" alt="">
                    <select *ngIf="places.length > 0" [value]="places[0].id" formControlName="origin">
                        <option *ngFor="let place of places" [value]="place.id">{{place.name}} | {{place.short_name}}</option>
                        <option value="0">Other</option>
                    </select>
                </div>
                <div class="control" *ngIf="formSeats.get('origin').value == 0"
                    [ngClass]="{'active':formSeats.get('customOrigin').value == '' && validateSeats}">
                    <img src="/assets/images/landing/from.png" alt="">
                    <input type="text" formControlName="customOrigin" placeholder="Custom Origin">
                </div>
                <div class="control">
                    <img src="/assets/images/landing/to.png" alt="">
                    <select *ngIf="places.length > 0" [value]="places[1].id" formControlName="destination">
                        <option *ngFor="let place of places" [value]="place.id">{{place.name}} | {{place.short_name}}</option>
                        <option value="0">Other</option>
                    </select>
                </div>
                <div class="control" *ngIf="formSeats.get('destination').value == 0"
                    [ngClass]="{'active':formSeats.get('customDestination').value == '' && validateSeats}">
                    <img src="/assets/images/landing/to.png" alt="">
                    <input type="text" formControlName="customDestination" placeholder="Custom Destination">
                </div>

                <div class="control">
                    <img src="/assets/images/landing/calendar.png" alt="">
                    <input type="date" formControlName="dateRequest" onkeydown="return false">
                    
                </div>
                <div class="control">
                    <img src="/assets/images/landing/passenger.png" alt="">
                    <input type="number" formControlName="passengers" min="1">
                </div>

            </div>
            <div class="error" *ngIf="validateSeats">Check all the fields please</div>
            <div class="error" *ngIf="validateDeparture">Departure date can't be minnor than currently date</div>
            <button (click)="seats()">Search Flights</button>


        </div>
        <!-- </div> -->
    </div>