<div class="tabs">

    <div class="header">
        <label for="request" (click)="changeState(1)" [ngClass]="{'active' : active == 1 }">Request Charter</label>
        <label for="request" (click)="changeState(2)" [ngClass]="{'active' : active == 2 }">Book Seats</label>
    </div>

    <div class="body">
        <div class="charter">

            <div class="form-charter" [ngClass]="{'active' : active == 1 }">

                <div class="control">

                    <input type="text" placeholder="Name">
                </div>
                <div class="control">

                    <input type="text" placeholder="Last Name">
                </div>
                <div class="control">

                    <input type="text" placeholder="Email">
                </div>
              
                <div class="control">

                    <input type="text" placeholder="Phone number">
                </div>
                <select>
                    <option>asdsda</option>
                    <option>asdasdsad</option>
                </select>
                <select>
                    <option>asdsda</option>
                    <option>asdasdsad</option>
                </select>
                <!-- <input type="text" placeholder="Name"> -->
                
                <div class="control">
                    <img src="/assets/images/landing/calendar.png" alt="">
                    <input type="date" placeholder="Name">
                </div>
                <div class="control">
                    <img src="/assets/images/landing/clock.png" alt="">
                    <input type="date">
                </div>
           
                <div class="control">
                    <img src="/assets/images/landing/passenger.png" alt="">
                    <input type="number" >
                </div>
              
            </div>


        </div>
        <div class="book" [ngClass]="{'active' : active == 2 }">
            Empty yet.
        </div>
    </div>
</div>