.tabs {
    width: 100%;

    .header {
        text-align: left;
        height: 37px;

        label {
            cursor: pointer;
            display: inline;
            padding: 20px 40px;
            color: #193318;
            background-color: #b5d9fd;

            &.active {
                text-decoration: underline;
                background-color: #dbebfa;
            }
        }

    }

    .body {
        background: #dbebfa;
        box-shadow: 1px 1px 10px #377d40;
        min-height: 200px;
        padding: 30px 5px;

        .form-charter {
            display: grid;
            visibility: hidden;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;

            &.active {
                visibility: visible
            }

            .control {
                display: flex;
                align-items: center;
                height: 50px;
                background: white;
                justify-content: space-around;
                padding: 5px;

                input {
                    background: white;
                    border: none;
                    width: 90%;
                    &:focus {
                        outline: none;
                    }
                }

                input[type=text] {
                    color: #0b3951;
                    font-weight: 600;
                    height: 40px;

                    &::placeholder {
                        color: #0b3951;
                    }

                }

                select {
                    background: url(/assets/images/landing/fromto.png) no-repeat right #fff;
                    -webkit-appearance: none;
                    background-position-x: 98%;
                    background-size: 15px;
                    width: 70%;
                    border: none;
                    height: 50px;
                    color: #0b3951;
                    font-weight: 600;

                    &:focus {
                        outline: none;
                    }
                }

            }


        }

        .book {
            visibility: hidden;

            &.active {
                visibility: visible
            }
        }
    }
}

@media (max-width : 921px) {
    .tabs {
        .body {
            .form-charter {
                grid-template-columns: repeat(2, 1fr);

                .control {
                    justify-content: space-between;
                }
            }

        }
    }

}

@media (max-width:504px) {
    .tabs {
        .header {
            display: flex;
            height: auto;
        }

        .body {
            .form-charter {
                grid-template-columns: repeat(1, 1fr);


            }

        }
    }
}