<div class="footer-wrapper">
  <footer>

    <div class="column">
      <label for="">CONTACT US</label>
      <div class="grid-column">
        <img src="/assets/images/footer/location-footer.png" alt=""> <span>500 Barnstable
          Road<br>Hyannis,Ma | 02601</span>
        <img src="/assets/images/footer/call-us.png" alt=""> <span>(508) 231-5800</span>
        <img src="/assets/images/footer/mail.png" alt=""> <span>Info@alliesair.com</span>

      </div>

    </div>
    <div class="column">
      <label for="">CONNECT WITH US</label>
      <div class="grid-column-mid">
        <div class="social"><img src="/assets/images/footer/instagram.png" (click)="openLink('https://www.instagram.com/alliesair/')" alt="">
          <img src="/assets/images/footer/facebook.png" (click)="openLink('https://www.facebook.com/AlliesAir/')" alt=""></div>

        <label for="">DOWNLOAD OUT APP</label>
        <div class="apps"> <img class="app" src="/assets/images/footer/app-store.png" (click)="openLink('https://apps.apple.com/us/app/airhub-us/id1145849134')"alt="">
          <img class="app" src="/assets/images/footer/google-play.png" (click)="openLink('https://play.google.com/store/apps/details?id=com.riethof.airhub')" alt="">
        </div>
      </div>
    </div>
    <div class="column">
      <label for="">STAY IN TOUCH</label>
      <div class="grid-column-mid">
      <span>Be the first to know<br>news and deals!</span>
      <div><input type="text" placeholder="Enter Email"></div>
      <div>
        <button>Submit</button>
      </div>
      </div>
    </div>

  </footer>
</div>