.title {
    margin: 20px 80px;
}

.container {
    margin: 20px 80px;
    /* background: #193318; */
    margin: 20px 80px;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 80px 1fr;
    column-gap: 20px;
    grid-template-areas: "header detail""check detail";


    .header {
        grid-area: header;
        background: #193318;
        font-size: 1.5em;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .body-check {
        background-color: #b5d9fc;
        height: 200px;
        padding: 40px 80px;
        grid-area: check;

        @media (max-width:745px) {
            padding: 10px;

            .item {

                .free {
                    flex-direction: column;
                    font-size: 10px;
                }

                .flight {
                    .trip {
                        flex-direction: column;
                        font-size: 10px;
                    }
                }
            }

            button {
                padding: 5px
            }
        }

        .head-card {

            display: flex;
            justify-items: center;
            align-items: center;
            height: 80px;
            background: #193318;

        }

        .item {
            display: grid;
            grid-template-columns: 30% 70%;
            border-radius: 20px;
            justify-content: center;
            justify-items: center;
            height: 200px;
            overflow: hidden;


            .free {
                position: relative;
                width: calc(100% - 3px);
                border-right: 1px dotted;
                border-left: 1px solid;
                border: 2px solid #85bfac;
                border-radius: 20px 0 0 20px;
                border-right: 2px #85bfac dashed;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #dbebfa;

                h2 {
                    font-size: 3.5rem;
                    margin: 5px;
                }

                span {
                    color: #00334e
                }

                &::after {
                    content: "";
                    position: absolute;
                    background: #b5d9fc;
                    width: 35px;
                    height: 35px;
                    top: -22px;
                    right: -20px;
                    border-radius: 100%;
                    border: 2px dashed #85bfac;
                }

                &::before {
                    content: "";
                    position: absolute;
                    background: #b5d9fc;
                    width: 35px;
                    height: 35px;
                    bottom: -22px;
                    right: -20px;
                    border-radius: 100%;
                    border: 2px dashed #85bfac;
                }


            }

            .flight {
                width: calc(100% - 2px);
                border-radius: 20px;
                border: 2px solid #85bfac;
                border-left: 0;
                display: grid;
                justify-content: center;
                grid-auto-columns: 100%;
                align-items: center;
                place-items: center;
                background: #dbebfa;

                .departure {
                    h2 {
                        margin: 0;
                    }
                }

                .trip {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-around;
                    font-size: .7em;

                    h2 {
                        text-transform: uppercase
                    }
                }
            }

            button {
                align-self: center;
                height: 40px;
            }
        }
    }

    .detail {
        background: #dbebfa;
        padding: 15px;
        box-shadow: 1px 1px 5px #80808082;
        text-align: center;
        grid-area: detail;
        height: 500px;

      .resumen{
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap:20px;
          margin: 40px 0;
      }

    }
    
    @media (max-width:620px) {
        & {
            grid-template-columns: 1fr;
            grid-template-areas:
                "header"
                "check"
                "detail";
                .header{
                        font-size: 1em;
                }
        }
    }
}