.header {
    display: grid;
    background-color: #193318;
    padding: 10px 80px;
    color: white;
    position: relative;
    grid-template-columns: 150px 1fr;

    img {
        cursor: pointer
    }

    .menu {
        width: 100%;
        display: grid;
        font-family: sans-serif;
        font-weight: 600;
        padding: 0 20px;

        .tel {
            width: 100%;
            text-align: right;
            padding: 10px 0;
        }

        .title {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            label {
                font-size: 2em;
                font-style: italic;
            }

            span {

                height: 3px;
                background: white;
                width: 100%;
                top: 5px;
                margin-left: 10px;
            }
        }

        @media (max-width:840px) {
            & {
                display: none
            }
        }
    }


    .menu-bar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative;

        .primary-list {
            display: flex;
            list-style: none;
            position: relative;

            li {
                margin: 0 20px;
                cursor: pointer;

                &:focus {
                    outline: none
                }

                &:last-child {
                    margin-right: 0
                }
            }

            .inner-list {
                visibility: hidden;
                opacity: 0;
                transform: translate3d(-40%, 0, 0);
                position: absolute;
                background: #dbebfa;
                list-style: none;
                padding: 0;
                top: 25px;
                z-index: 10;
                transition: .7s cubic-bezier(0.075, 0.82, 0.165, 1);
                box-shadow: 1px 1px 10px #1d1c1c54;
                &.active {
                    visibility: visible;
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }

                li {
                    color: #063853;
                    padding: 15px;
                    margin: 10px;
                }

            }
        }
    }

    .m-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .fa-bars {
            font-size: 50px;
        }

        @media (min-width: 840px) {
            & {
                display: none;
            }
        }
    }

    @media (max-width:840px) {
        img {
            width: 90px;
        }

        & {
            grid-template-columns: 100px 1fr;
        }
    }

}