<div class="header">
  <img src="assets/images/logo.png" width="150" alt="">
  <div class="menu">
    <div class="tel"><i class="fa fa-phone"></i> &nbsp;&nbsp; (508) 231-5800</div>
    <div class="title"><label>ALLIES&nbsp;&nbsp;AIR</label><span></span></div>
    <div class="menu-bar">
      <li>
        <ul>ABOUT US</ul>
        <ul>OUR FLEET</ul>
        <ul>SERVICES</ul>
        <ul>CONTACT US</ul>
      </li>
    </div>
  </div>
  <div class="m-menu" *ngIf="isVisible">
    <i class="fa fa-bars" (click)="active()"></i>
  </div>
</div>
