<div class="header">
  <img routerLink="/" src="assets/images/logo.png" width="150" alt="">
  <div class="menu">
    <div class="tel"><i class="fa fa-phone"></i> &nbsp;&nbsp; (508) 231-5800</div>
    <div class="title"><label>ALLIES&nbsp;&nbsp;AIR</label><span></span></div>
    <div class="menu-bar">
      <ul class="primary-list">
        <li routerLink="/about-us" routerLinkActive="active"> <a>ABOUT US</a></li>
        <li routerLink="/our-fleet" routerLinkActive="active">OUR FLEET</li>
        <li (mouseover)="open()" (mouseout)="close()">SERVICES <ul class="inner-list" [ngClass]="{'active' : openChild}">
            <li routerLink="/private-charter">PRIVATE CHARTER</li>
            <li routerLink="/charter-club">CHARTER CLUB</li>
            <li routerLink="/air-freight">AIR FREIGHT</li>
          </ul>
        </li>
        <li routerLink="/contact-us" routerLinkActive="active">CONTACT US</li>
      </ul>
    </div>
  </div>
  <div class="m-menu" *ngIf="isVisible">
    <i class="fa fa-bars" (click)="active()"></i>
  </div>
</div>