<div class="about-us">

  <div class="info">
    <h2 class="title">CHARTER CLUB</h2>
    <div class="text">

      <p>The Charter Club by Allies air is Nantucket’s newest and most
        innovative year round passenger air solution.</p>

      <p>Now offering seats on our semi-private shared charters
        between Nantucket Island <> Hyannis (MA) and Boston (MA).</p>
      <p>Experience the highest level of service and convenience
        possible in commuter travel to and from Nantucket!</p>


    </div>
  </div>
  <img src="/assets/images/club/charter-club2x.jpg" alt="">
</div>
<h2>BOOK SEATS TODAY!</h2>

<div class="charter">
  <label class="title">Book Seats</label>

  
    <div [formGroup]="seatsForm" class="form-charter">


      <div class="control">
          <img src="/assets/images/landing/from.png" alt="">
          <select *ngIf="places.length > 0" [value]="places[0].id" formControlName="origin">
              <option *ngFor="let place of places" [value]="place.id">{{place.name}}</option>
              <option value="0">Other</option>
          </select>
      </div>
      <div class="control" *ngIf="seatsForm.get('origin').value == 0">
          <img src="/assets/images/landing/from.png" alt="">
          <input type="text" formControlName="customOrigin" placeholder="Custom Origin">
      </div>
      <div class="control">
          <img src="/assets/images/landing/to.png" alt="">
          <select *ngIf="places.length > 0" [value]="places[1].id" formControlName="destination">
              <option *ngFor="let place of places" [value]="place.id">{{place.name}}</option>
              <option value="0">Other</option>
          </select>
      </div>
      <div class="control" *ngIf="seatsForm.get('destination').value == 0" alt="">
          <img src="/assets/images/landing/to.png" >
          <input type="text" formControlName="customDestination" placeholder="Custom Destination">
      </div>

      <div class="control">
          <img src="/assets/images/landing/calendar.png" alt="">
          <input type="date">
      </div>

      <div class="check">
          <input type="checkbox" formControlName="flexible">
          <label for="">Flexible date</label>
      </div>
    </div>
    <button>Search Flights</button>

</div>
<section>
  <h2 class="title">DOWNLOAD OUR APP, AIRHUB</h2>
  <div class="app-container">
    <img class="phone" src="/assets/images/club/phone.jpg" width="50%" alt="">
    <div class="info">
      <div class="texto">Book seats instangly right <br> form your phone</div>

      <div class="iconos">
        <img src="/assets/images/logo.png" width="150" alt="">
        <div class="apps"> <img class="app" src="/assets/images/footer/app-store.png"
            (click)="openLink('https://apps.apple.com/us/app/airhub-us/id1145849134')" alt="">
          <img class="app" src="/assets/images/footer/google-play.png"
            (click)="openLink('https://play.google.com/store/apps/details?id=com.riethof.airhub')" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="types">
  <img src="/assets/images/club/flyung@2x.jpg" alt="">
</div>


<div class="text-info">
  <h2>ALLIES AIR FACILITIES</h2>
  <p>For our passengers convenience, Allies Air flights only operate out of private facilities.</p>

  <p>This means that you may arrive minutes prior to scheduled departure, relax in the private lounge until boarding
    has been called,
    walk right through the FBO doors and walk out to the plane. Once onboard, simply sit back, relax, and enjoy the
    ride!</p>

  <!-- With comfortable seating, TV, WiFi, complimentary snacks
and drinks, the Allies Air Lounge is the perfect place to
hang out before and after a Charter Club flight! -->

</div>
<section class="pictures">

  <div class="pic">
    <div> <img src="/assets/images/club/facilities1.jpg" alt="">
      <div class="texto">With comfortable seating, TV, WiFi, complimentary snacks
        and drinks, the Allies Air Lounge is the perfect place to
        hang out before and after a Charter Club flight!</div>
    </div>
    <img src="/assets/images/club/facilities2.jpg" alt="">
  </div>
 
</section>
<br><br> <br><br><br><br> <br><br>