.title {
    margin: 20px 80px;
}

.contain {
    margin: 20px 80px;
    /* background: #193318; */
    margin: 20px 80px;
    display: grid;
    grid-template-columns: 70% 1fr;
  
   
    .passengers {
        padding-right:20px;
        .form{
            .activeUser {
                margin: 10px 0;
                font-size: 1.3em;
            }
    
            .item {
                .head {
                    height: 80px;
                    /* text-align: center; */
                    background: #193318;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-weight: 600;
                }
    
                .form-item {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;
                    padding: 20px;
                    background: #dbebfa;
    
                    input {
                        height: 40px;
                        border: 0;
                        padding: 10px;
                        color: #00334e;
                    }
                }
            }
        }
      
    }
    .detail {
        background: #dbebfa;
        padding: 15px;
        box-shadow: 1px 1px 5px #80808082;
        text-align: center;
        margin-top: 2.6em;
        .travel,
        .time {
            color: #00334e;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #ffffff52;
            margin: 10px 0;

            .date {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;

                img {
                    margin-bottom: 10px;
                }
            }
        }

    }
}