<h2 class="title">PASSENGERS</h2>

<div class="contain">

  <div class="passengers" >
    <form action="" [formGroup]="form" class="form">

      
    
      <div class="control user">
          User
          <div class="activeUser" *ngIf="form.get('passengers')?.controls.length > 0">
              I don't traver as a passenger
              <input type="checkbox" formControlName="notravel" >
            </div>
        <input type="number" placeholder="Luggage Weight" min="0" required formControlName="luggage_weight">
      </div>

      <div class="item" formArrayName="passengers" *ngFor="let item of form.get('passengers')?.controls ;let i = index">
        <div class="head">
          Passenger {{i + 1}}
        </div>
        <div class="form-item" [formGroupName]="i">

          <div class="control">
            <input type="text" placeholder="Name" required formControlName="complete_name">
            <div style="color:red" *ngIf="form.get('passengers').value[i].complete_name == '' && inValid">Required name
            </div>
          </div>

          <div class="control">
            <input type="text" placeholder="Email" required formControlName="email">
            <div style="color:red" *ngIf="form.get('passengers').value[i].email == '' && inValid">Required email</div>
            <div style="color:red" *ngIf="!validateMail.validateEmail(form.get('passengers').value[i].email) && inValid">

              Example: Jhon@example.com</div>
          </div>
          <div class="control">
            <input type="text" placeholder="Address" required formControlName="address">
            <div style="color:red" *ngIf="form.get('passengers').value[i].address == '' && inValid">Required name</div>
          </div>
          <div class="control">
            <input type="text" placeholder="CellPhone" required formControlName="cell_phone">
            <div style="color:red" *ngIf="form.get('passengers').value[i].cell_phone == '' && inValid">Required name</div>
          </div>
          <div class="control">
            <input type="number" min="0" placeholder="Body Weight" required formControlName="body_weight">
            <div style="color:red" *ngIf="form.get('passengers').value[i].body_weight == 0 && inValid">Body Weight has to be upper than 0
            </div>
          </div>

          <div class="control">
            <input type="number" placeholder="Luggage Weight" min="0" required formControlName="luggage_weight">
          </div>



        </div>

      </div>
    </form>
  </div>
  <div class="detail">
    <h2>Your Selection</h2>
    <hr>
    <div class="time">
      <div class="date">
        <img src="/assets/images/passengers/calendar.png" alt="">
        {{flight?.departure_date}}
      </div>
      <div class="date">
        <img src="/assets/images/passengers/clock.png" alt="">
        {{flight?.departure_time}}
      </div>
    </div>
    <div class="travel">
      <div class="date">
        <div>From</div>
        <div>{{flight?.get_origin.short_name}}</div>
        <div>{{flight?.get_origin.name}}</div>
      </div>
      <img src="/assets/images/passengers/air.png" alt="">
      <div class="date">
        <div>To</div>
        <div>{{flight?.get_destination.short_name}}</div>
        <div>{{flight?.get_destination.name}}</div>
      </div>

    </div>
    <div class="info">
      Total cost <br>
      <h1>USD ${{price}}</h1>
      Total per passenger
      <div *ngIf="user?.get_member">User Member <br>{{user.get_member.description}}</div>
    </div>
    <button (click)="send()">Book
      {{!form.value.notravel ? flightData.passengers : (flightData.passengers - 1)}}</button>
  </div>
</div>