<div class="about-us">

  <div class="info">
    <h2 class="title">OUR FLEET</h2>
    <div class="text">

      <p>Our fleet consists of multiple Cessna 400 Series
        (piston/multi-engine) airplanes which are known for
        comfort, safety, and economical operating costs.</p>

      <p>We operate the Cessna 402C (9 passenger - commuter interior)
        and Cessna 414A (6 passenger - commuter interior) aircraft.
        The 414A cabins are pressurized and climate controlled for
        passenger comfort. Both the 402C and 414A also offer
        exceptional take-off and landing views with it’s wide side windows.</p>

      <p>These airplanes are ideal for short or medium range charters.
        They offer substantial luggage and cargo space in the wing and
        nose compartments, allowing for the utmost comfort and
        personal space while on board.</p>



    </div>
  </div>
  <img src="/assets/images/our/fleet-tope.jpg" alt="">
</div>


<section class="pictures">
  <div class="wallpaper"></div>
  <div class="pic">
    <div class="one"> <img src="/assets/images/our/cesna414A.jpg" alt="">

    </div>
    <div class="one">
      <div class="texto">Cessna 414a <br /> Excecutive Interior - 6 seats</div>
      <img src="/assets/images/our/asientos cesna414a.jpg" alt="">
    </div>
  </div>

</section>
<section class="pictures">
  <div class="wallpaper"></div>
  <div class="pic">
    <div class="one"> <img src="/assets/images/our/cesna402c.jpg" alt="">

    </div>
    <div class="one">
      <div class="texto">Cessna 402C <br /> Commuter Interior - 9 seats</div>
      <img src="/assets/images/our/asientos-cesna402c.jpg" alt="">
    </div>
  </div>

</section>

<div class="schedule rpv">
    <img src="/assets/images/our/escudo.png" alt="">
    <div>
      <h2>OUR MOTTO IS ALWAYS - SAFETY FIRST!</h2>
      <p>Allies Air is an FAA Certified Part 135 operator. Our highly competent pilots and mechanics
          are regularly trained under the strictest supervision by FAA Authorized Personnel.</p>
    </div>
  </div>