<div class="form-content">
  <ng-container *ngIf="action == '';else login">
    <h2>Get the most out of Allies Air</h2>

    <p>Create an account today and join the trip you need.</p>
    <p>You can receive discounts for being a member of our community!!</p>
    <button class="btn" (click)="formOpen('register')">Join now!</button>
    <button class="btn" (click)="formOpen('login')">I have an account</button>
  </ng-container>
  <ng-template #login>
    <ng-container *ngIf="action == 'login';else register">
      <h2>Log in</h2>
      <div class="login">
        <div class="control"> <input type="text" [(ngModel)]="loginObject.email" placeholder="Email"></div>
        <div *ngIf="validationMail">Example : Jhon@example.com</div>
        <div class="control"><input type="password" [(ngModel)]="loginObject.password" placeholder="password"></div>
        <button class="btn" (click)="loginForm()">Submit</button>
        <div class="error" *ngIf="">Credentials Error</div>
        <!-- <button class="btn" (click)="formOpen('')">Back</button> -->
      </div>

    </ng-container>
  </ng-template>
  <ng-template #register>
    <div class="register" *ngIf="action=='register'">
      <h2>Register</h2>
      <div class="register-form">
        <div class="control">
          <input type="text" [ngClass]="{'ctrl-error' : reg.email == '' && registerValid.first}" [(ngModel)]="reg.email"
            placeholder="Email" tabindex="1">
          <div class="error" *ngIf="reg.email == '' && registerValid.first">
            Email is required
          </div>
          <div class="error" *ngIf="!util.validateEmail(reg.email) && registerValid.first">
            Example: John@example.com
          </div>
        </div>
        <div class="control">
          <input type="password" [ngClass]="{'ctrl-error' : reg.password == '' && registerValid.first}"
            [(ngModel)]="reg.password" placeholder="password">
          <div class="error" *ngIf="reg.password == '' && registerValid.first">
            Password is required
          </div>
        </div>
        <div class="control">
          <input type="password" [ngClass]="{'ctrl-error' : reg.confirmpass == '' && registerValid.first}"
            [(ngModel)]="reg.confirmpass" placeholder="Confirm password">
          <div class="error" *ngIf="reg.confirmpass == '' && registerValid.first">
            Confirm password is required
          </div>
        </div>
        <div class="error" *ngIf="reg.confirmpass !== reg.password && registerValid.first">
          Passwords must be the same
        </div>
        <button class="btn" (click)="registerForm()">Next</button>
      </div>


    </div>

  </ng-template>
  <ng-container>
    <div class="register" *ngIf="action=='register2'">
      <!-- <h2>Register</h2> -->
      <div class="register-form2">
        <h2 class="personal">Personal information</h2>
        <div class="control  first"> <input type="text" name="name" [(ngModel)]="reg.name" placeholder="Name"
            tabindex="1">
          <div class="error" *ngIf="reg.name == '' && registerValid.sec">
            Name is required
          </div>
        </div>
        <div class="control second"> <input type="text" name="last_name" [(ngModel)]="reg.last_name"
            placeholder="Last Name" tabindex="1">
          <div class="error" *ngIf="reg.last_name == '' && registerValid.sec">
            Last name is required
          </div>
        </div>
        <div class="control first"> <input type="number" min="0" [(ngModel)]="reg.body_weight" placeholder="Body Weight (lbs)"
            tabindex="1">
          <div class="error" *ngIf="reg.body_weight == null && registerValid.sec">
            Body weigth is required
          </div>
          <div class="error" *ngIf="reg.body_weight <= 0 && registerValid.sec">
              Body weight can't be less than or equal to 0
            </div>
        </div>
        <div class="control second">
          <input type="text" [(ngModel)]="reg.cell_phone" placeholder="Phone">
          <div class="error" *ngIf="reg.cell_phone == '' && registerValid.sec">
            Cell phone is required
          </div>
        </div>
        <h2 class="address">Address</h2>

        <div class="control  first"> 
          <input type="text" [(ngModel)]="reg.address" placeholder="Address">
          <div class="error" *ngIf="reg.address == '' && registerValid.sec">
            Address is required
          </div>
        </div>
        <div class="control second"> <input type="text" [(ngModel)]="reg.zipcode" placeholder="Zip Code"></div>
        <div class="control first"> <input type="text" [(ngModel)]="reg.country" placeholder="Country"></div>
        <div class="control second"> <input type="text" [(ngModel)]="reg.state" placeholder="State"></div>
        <div class="control first"> <input type="text" [(ngModel)]="reg.city" placeholder="City"></div>

        <button class="btn first" (click)="formOpen('register')">back</button> <button class="btn second"
          (click)="registerFinish()">Register</button>
      </div>



    </div>
  </ng-container>

  <ng-container *ngIf="action=='seatsError'">
    <div class="error">
      Capacity of seats insuficient
    </div>

  </ng-container>

</div>