<div class="form-content">
  <ng-container *ngIf="action == '';else login">
    <h2>Get the most out of Allies Air</h2>

    <p>Create an account today and join the trip you need.</p>
    <p>You can receive discounts for being a member of our community!!</p>
    <button class="btn" (click)="formOpen('register')">Join now!</button>
    <button class="btn" (click)="formOpen('login')">I have an account</button>
  </ng-container>
  <ng-template #login>
    <ng-container *ngIf="action == 'login';else register">
      <h2>Log in</h2>
      <div class="login">
        <div class="control"> <input type="text" [(ngModel)]="loginObject.email" placeholder="Email"></div>
        <div *ngIf="validationMail">Example : Jhon@example.com</div>
        <div class="control"><input type="password" [(ngModel)]="loginObject.password" placeholder="password"></div>
        <button class="btn" (click)="loginForm()">Submit</button>
        <div class="error" *ngIf="">Credentials Error</div>
        <!-- <button class="btn" (click)="formOpen('')">Back</button> -->
      </div>

    </ng-container>
  </ng-template>
  <ng-template #register>
    <div class="register" *ngIf="action=='register'">
      <h2>Register</h2>
      <div class="register-form">
        <div class="control"> <input type="text" [(ngModel)]="reg.email" placeholder="Email" tabindex="1"></div>
        <div class="control"><input type="password" [(ngModel)]="reg.password" placeholder="password"></div>
        <div class="control"><input type="password" [(ngModel)]="reg.confirmpass" placeholder="Confirm password"></div>

        <button class="btn" (click)="registerForm()">Next</button>
      </div>


    </div>

  </ng-template>
  <ng-container>
    <div class="register" *ngIf="action=='register2'">
      <!-- <h2>Register</h2> -->
      <div class="register-form2">
        <h2 class="personal">Personal information</h2>
        <div class="control  first"> <input type="text" name="name" [(ngModel)]="reg.name" placeholder="Name"
            tabindex="1">
        </div>
        <div class="control second"> <input type="text" name="last_name" [(ngModel)]="reg.last_name"
            placeholder="Last Name" tabindex="1"></div>
        <div class="control first"> <input type="number" [(ngModel)]="reg.body_weight" placeholder="Body Weight (lbs)"
            tabindex="1"></div>
        <div class="control second"><input type="text" [(ngModel)]="reg.cell_phone" placeholder="Phone"></div>
        <h2 class="address">Address</h2>

        <div class="control  first"> <input type="text" [(ngModel)]="reg.address" placeholder="Address"></div>
        <div class="control second"> <input type="text" [(ngModel)]="reg.zipcode" placeholder="Zip Code"></div>
        <div class="control first"> <input type="text" [(ngModel)]="reg.country" placeholder="Country"></div>
        <div class="control second"> <input type="text" [(ngModel)]="reg.state" placeholder="State"></div>
        <div class="control first"> <input type="text" [(ngModel)]="reg.city" placeholder="City"></div>
  
        <button class="btn first" (click)="formOpen('register')">back</button> <button class="btn second"
          (click)="registerFinish()">Register</button>
      </div>
      

    
  </div>
</ng-container>

<ng-container *ngIf="action=='seatsError'">
  <div class="error">
    Capacity of seats insuficient
  </div>

</ng-container>

</div>