.form-content {
    padding: 20px;
    text-align: center;


    p {
        color: #00334e
    }

    .login,
    .register {
        display: flex;
        flex-direction: column;

        .control {
            margin: 10px;

            input {
                height: 30px;
                width: 90%;
                border: none;
                padding: 10px;

            }

        }

        .register-form2 {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .personal {

                grid-column: 1;
            }

            h2 {
                color: #00334e
            }

            .btn {
                &.first {

                    background: darkslategrey;

                    &:hover {
                        color: #000
                    }
                }
            }



            .first {

                grid-column: 1/2
            }

            .second {
                grid-column: 2
            }
        }
    }

    .error {
        display: flex;
        justify-content: center;

    }
}