<div class="container">
  <div class="slide">
    <h2>PROVIDING INNOVATIVE AIR SOLUTIONS TO<br>NANTUCKET ISLAND AND BEYOND!</h2>

  </div>

  <section class="">
    <app-book class="step" [formRequest]="form" [formSeats]="Seats" [places]="places" (formValues)="request($event)">
    </app-book>
    <div class="message" style="width: auto" [ngClass]="{'active' : sended}">Request sended successfully</div>
    <h2>FLY ALLIES AIR TODAY!</h2>


    <div class="carousel" *ngIf="!isMobile">
      <div class="card">
        <img class="cover" src="/assets/images/3.jpg" alt="">
        <div class="info" (click)="goTo('/private-charter')">
          <h2>PRIVATE CHARTER</h2>
          <label>Request Now &nbsp;<img src="/assets/images/fromto.png" width="10" alt=""></label>
        </div>
      </div>
      <div class="card">
        <img class="cover" src="/assets/images/2.jpg" alt="">
        <div class="info" (click)="goTo('/charter-club')">
          <h2>CHARTER CLUB</h2>
          <label>Book Seat &nbsp;<img src="/assets/images/fromto.png" width="10" alt=""></label>
        </div>
      </div>
      <div class="card">
        <img class="cover" src="/assets/images/1.jpg" alt="">
        <div class="info" (click)="goTo('/air-freight')">
          <h2>AIR FREIGHT</h2>
          <label>Learn More &nbsp;<img src="/assets/images/fromto.png" width="10" alt=""></label>
        </div>
      </div>
    </div>


    <div class="wrapped" [ngStyle]="{'display' : isMobile ? 'block' : 'none'}">
      <div class="carousel-m" id="mobile">
        <div class="item">
          <img class="cover" src="/assets/images/3.jpg" alt="">
          <div class="info" (click)="goTo('/private-charter')">
            <h2>PRIVATE CHARTER</h2>
            <label>Request Now &nbsp;<img src="/assets/images/fromto.png" width="10" alt=""></label>
          </div>
        </div>
        <div class="item">
          <img class="cover" src="/assets/images/2.jpg" alt="">
          <div class="info" (click)="goTo('/charter-club')">
            <h2>CHARTER CLUB</h2>
            <label>Book Seat &nbsp;<img src="/assets/images/fromto.png" width="10" alt=""></label>
          </div>
        </div>
        <div class="item">
          <img class="cover" src="/assets/images/1.jpg" alt="">
          <div class="info" (click)="goTo('/air-freight')">
            <h2>AIR FREIGHT</h2>
            <label>Learn More &nbsp;<img src="/assets/images/fromto.png" width="10" alt=""></label>
          </div>
        </div>
      </div>
    </div>



    <h2>WE CAN'T WAIT TO SERVE YOU</h2>
  </section>
</div>