<div class="contact">
  <img src="/assets/images/contact/contact.jpg" width="50%" alt="">

  <div class="form">
    <h2>CONTACT US </h2>
    <form action="" class="formulario">
      <div class="titulo" for="">Want to learn more about Allies Air?</div>
      <br>
      <div class="controls">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Phone">
        <textarea name="" id="" cols="30" rows="10" placeholder="How can we help ?"></textarea>

      </div>
      
    </form>
    <button type="submit">Submit</button>
  </div>
</div>