<div class="contact">
  <img src="/assets/images/contact/contact.jpg" width="50%" alt="">

  <div class="form">
    <h2>CONTACT US </h2>
    <form [formGroup]="form" class="formulario">
      <div class="titulo" for="">Want to learn more about Allies Air?</div>
      <br>
      <div class="controls">
        <input type="text" formControlName="name" placeholder="Name">
        <input type="email" required formControlName="email" placeholder="Email">
        <input type="text" formControlName="phone" placeholder="Phone">
        <textarea name="" id="" formControlName="query" cols="30" rows="10" placeholder="How can we help ?"></textarea>

      </div>

    </form>
    <button type="submit" (click)="send()">Submit</button>
  </div>
</div>