<div class="contact">
  <img src="/assets/images/contact/contact.jpg" width="50%" alt="">

  <div class="form">
    <h2>CONTACT US </h2>
    <form [formGroup]="form" class="formulario">
      <div class="titulo" for="">Want to learn more about Allies Air?</div>
      <br>
      <div class="controls">
        <input type="text" formControlName="name" placeholder="Name">
        <div class="error" *ngIf="form.get('name').value == '' && validate">Name is required</div>
        <input type="email" required formControlName="email" placeholder="Email">
        <div class="error" *ngIf="form.get('email').value == '' && validate">Email is required</div>
        <div class="error" *ngIf="!validateEmail && validate">Example: John@example.com</div>
        <input type="text" formControlName="phone" placeholder="Phone">
        <textarea name="" id="" formControlName="query" cols="30" rows="10" placeholder="How can we help ?"></textarea>
        <div class="error" *ngIf="form.get('query').value == '' && validate">This is required</div>
      </div>
 
    </form>
    <button type="submit" (click)="send()">Submit</button>
    <img src="/assets/images/spin.gif" [ngStyle]="{'visibility': sending ? 'visible':'hidden'}" class="load">
    <div class="message active" style="position:absolute;bottom: 0" [ngClass]="{'active' : sendMessage}">Your message has has been sended successfully !</div>     
  </div>
  
</div>
