<div class="about-us">

  <div class="info">
    <h2 class="title">ABOUT US</h2>
    <div class="text">
      <p>Locally owned and operated, Allies Air’s mission is to provide
        innovative air solutions to Nantucket Island and beyond!</p>

      <p>Allies Air offer three services: Charter Club (shared charters),
        private charters, and air freight.</p>

      <p>Allies Air plans to continue developing its core services into a
        year round, full service air solution providing residents, workers,
        and visitors of Nantucket with consistent options to make the
        lives of all easier and more efficient.</p>

    </div>
  </div>
  <img src="/assets/images/about-us/about-us2x.jpg" alt="">
</div>
<h2>WE CAN'T WAIT TO SERVE YOU!</h2>