<div class="sidebar" [ngClass]="{'active' : visible}">

  <div class="sdr-head">
    <img src="assets/images/logo.png" width="70" alt="">
    <label for="">ALLIES AIR</label>
    <i class="fa fa-close" (click)="close()"></i>
  </div>
  <ul>

    <li routerLink="/" (click)="close()" routerLinkActive="active">HOME </li>
    <li routerLink="/about-us" (click)="close()" routerLinkActive="active">ABOUT US </li>
    <li routerLink="/our-fleet" (click)="close()" routerLinkActive="active">OUR FLEET </li>
    <li (click)="openChild()">SERVICES
      <ul class="inner" [ngStyle]="{'display' : open ? 'block' : 'none'}">
        <li routerLink="/charter-club" (click)="close()" class="inner">Charter Club</li>
        <li routerLink="/private-charter" (click)="close()" class="inner">Private Charter</li>
        <li routerLink="/air-freight" (click)="close()" class="inner">Air Freight</li>
      </ul>
    </li>
    <li routerLink="/contact-us" (click)="close()" routerLinkActive="active">CONTACT US </li>
  </ul>
</div>