
<div class="sidebar" [ngClass]="{'active' : visible}">

  <div class="sdr-head">
    <img src="assets/images/logo.png" width="70" alt="">
    <label for="">ALLIES AIR</label>
    <i class="fa fa-close" (click)="close()"></i>
  </div>
  <ul>
    <li>ABOUT US </li>
    <li>OUR FLEET </li>
    <li>SERVICES
      <ul>
        <li class="inner">Charter Club</li>
        <li class="inner">Private Charter</li>
        <li class="inner">Air Freight</li>
      </ul>
    </li>
    <li>CONTACT US </li>
  </ul>
</div>