<div class="about-us">

  <div class="info">
    <h2 class="title">PRIVATE CHARTER</h2>
    <div class="text">
      <p>Chartering with Allies Air offers you the convenience of
        flying whenever and wherever you’d like, at a fraction of the cost.</p>

      <p>Utilizing our fleet of Cessna 400 Series aircraft, chartering a
        plane has never been this convenient, reliable, and affordable!</p>
    </div>
  </div>
  <img src="/assets/images/private/private.jpg" alt="">
</div>

<h2>REQUEST A CHARTER NOW!</h2>

<div class="charter">
  <label class="title">Request Charter</label>

  <div [formGroup]="formRequest" class="form-charter">

    <div class="control" [ngClass]="{'active':formRequest.get('name').value == '' && validate}">
        <input type="text" formControlName="name" placeholder="Name">
    </div>
    <div class="control" [ngClass]="{'active':formRequest.get('lastname').value == '' && validate}">
        <input type="text" formControlName="lastname" placeholder="Last Name">
    </div>
    <div class="control" [ngClass]="{'active':formRequest.get('email').value == '' && validate}">
        <input type="text" formControlName="email" placeholder="Email">
    </div>
    <div class="control" [ngClass]="{'active':formRequest.get('phone').value == '' && validate}">
        <input type="text" formControlName="phone" placeholder="Phone number">
    </div>
    <div class="control">
        <img src="/assets/images/landing/from.png" alt="">
        <select *ngIf="places.length > 0" formControlName="origin">
            <option *ngFor="let place of places" [value]="place.id">{{place.name}}</option>
            <option value="0">Other</option>
        </select>
    </div>
    <div class="control" *ngIf="formRequest.get('origin').value == 0"
        [ngClass]="{'active':formRequest.get('customOrigin').value == '' && validate}">
        <img src="/assets/images/landing/from.png" alt="">
        <input type="text" formControlName="customOrigin" placeholder="Custom Origin">
    </div>

    <div class="control">
        <img src="/assets/images/landing/to.png" alt="">
        <select *ngIf="places.length > 0" formControlName="destination">
            <option *ngFor="let place of places" [value]="place.id">{{place.name}}</option>
            <option value="0">Other</option>
        </select>
    </div>
    <div class="control" *ngIf="formRequest.get('destination').value == 0"
        [ngClass]="{'active':formRequest.get('customDestination').value == '' && validate}">
        <img src="/assets/images/landing/to.png" alt="">
        <input type="text" formControlName="customDestination" placeholder="Custom Destination">
    </div>
    <div class="control">
        <img src="/assets/images/landing/calendar.png" alt="">
        <input type="date" formControlName="dateRequest" placeholder="Name">
    </div>

    <div class="control">
        <img src="/assets/images/landing/clock.png" alt="">
        <input type="time" formControlName="timeRequest">
    </div>

    <div class="control">
        <img src="/assets/images/landing/passenger.png" alt="">
        <input type="number" formControlName="passengers" min="1">
    </div>

  </div>
<div class="error" *ngIf="validate">Check all the fields please</div>

<button type="submit" (click)="request()">Request Charter</button>

<div class="message" style="width: auto" [ngClass]="{'active' : sended}">Request sended successfully</div>
</div>



<div class="text-info">
  <h2>TWO INTERIOR STYLES TO CHOOSE FROM</h2>
  <p>Allies Air offers two interior styles to choose from when booking private charters.
  </p>

</div>
<section class="pictures">
  <div class="wallpaper"></div>
  <div class="pic">
    <div class="one"> <img src="/assets/images/private/414A.jpg" alt="">
      <div class="texto" style="float:right;">Cessna 414A <br> Executive interior - 6 seats</div>
    </div>
    <div class="one">
      <div class="texto">Cessna 402C <br /> Commuter Interior - 9 seats</div>
      <img src="/assets/images/private/402C.jpg" alt="">
    </div>
  </div>

</section>

<div class="text-info">
  <h2>WHY CHARTER?</h2>
  <p>When you charter, flying becomes a joy rather an inconvenience! Many people wonder what advantages there are to</p>
  <p>
    a private charter opposed to flying commercial. The real benefits are:
  </p>
  <div class="info">
    <div class="item">
      <label>Convenience</label> <i class="fa fa-chevron-right"></i>
      <p>Choose from hundreds of airports in the Northeast to
        fly between!</p>
    </div>
    <div class="item">
      <label>Efficiency</label> <i class="fa fa-chevron-right"></i>
      <p>When you charter with Allies Air, simply arrive 20-30
        minutes prior to departure!</p>
    </div>
    <div class="item">
      <label>No Stress Travel</label> <i class="fa fa-chevron-right"></i>
      <p>On our private charters, there are no long ticket lines, invasive
        security screenings, or stressful boarding procedures!</p>
    </div>
    <div class="item">
      <label>Priority Boarding</label> <i class="fa fa-chevron-right"></i>
      <p>Since you set your own time and departure, after you meet your pilot, you will be flown immediately to your
        desired destination!</p>
    </div>
  </div>

  <p>Allies Air provides you the luxury of focusing your mind on what you want it to be on — an important business</p>
  <p>
    meeting, or the many exciting adventures that await you, your family and friends at your vacation destination!
  </p>
  <h2>WE CAN’T WAIT TO SERVE YOU!</h2>
</div>