h2 {
  text-align: center;
  color: #193318;
  position: relative;

}


.charter {
  margin: 60px;
  background: #dbebfa;
  padding: 10px;

  .title {
    line-height: 4;
    text-decoration: underline;
    color: #19321c;
    font-size: 1.2em;
    margin: 0 20px;

  }

  .error {
    color: #ef2424;
    padding: 10px 0
  }


  .form-charter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    &.active {
      visibility: visible
    }

    .check {
      display: flex;
      line-height: 50px;
      align-items: center;
    }


    .control {
      display: flex;
      align-items: center;
      height: 50px;
      background: white;
      justify-content: space-around;
      padding: 5px;

      &.active {
        border: 1px solid red;
      }

      input {
        background: white;
        border: none;
        width: 85%;

        &:focus {
          outline: none;
        }
      }

      input[type=text] {
        color: #0b3951;
        font-weight: 600;
        height: 40px;

        &::placeholder {
          color: #0b39515d;
        }

      }

      input[type=number],
      input[type=date],
      input[type=time] {
        text-align: center;
      }

      select {
        background: url(/assets/images/landing/fromto.png) no-repeat right #fff;
        -webkit-appearance: none;
        background-position-x: 98%;
        background-size: 15px;
        width: 80%;
        border: none;
        height: 50px;
        color: #0b3951;
        font-weight: 600;

        &:focus {
          outline: none;
        }
      }

    }

    @media (max-width:592px) {

      & {
        grid-template-columns: 1fr;

      }
    }

  }

  button {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    box-shadow: 5px 5px 8px black;
    color: white;
    background: #19321c;
    position: relative;
    display: block;
    margin: 10px auto;

  }


}



.pictures {
  position: relative;

  .wallpaper {
    height: 80%;
    top: 10%;
    width: 100%;
    position: absolute;
    background: #dbebfa;
    z-index: -1;
  }

  margin-bottom:40px;

  .pic {

    display: grid;
    margin: 0 60px;
    grid-template-columns: repeat(2, 50%);

    .one {
      margin: 5px;

      .texto {
        width: 50%;
        background: #19321c;
        color: white;
        padding: 10px;
        margin: 10px;
        font-size: 1.2em;
        text-align: center
      }

      img {
        width: 100%;
      }
    }

    @media (max-width:725px) {
      & {
        width: 100%;
        margin: 0px;
        grid-template-columns: 1fr;

        div:first-child {
          width: 100%;
          top: 0;

          div {
            position: relative;
            background: #19321c;
            color: #fff;
            padding: 10px;
            margin-bottom: 5px;
            width: auto;

            font-size: 1.2em;
          }
        }

        img {
          &:last-child {
            width: 100%;
            top: 0;
          }
        }
      }
    }
  }

}